.title-bar {
  @apply bg-titlebarbg;
}

.logo-wrapper {
  .custom-logos {
    @apply pb-0;

    img {
      @apply h-[3em] max-h-none;
    }
  }
}

.navbar {
  @apply bg-navbarbg;

  a,
  a:hover {
    @apply text-primary font-bold;
  }
}

.main-nav__link {
  a {
    @apply text-navbarfg;
  }

  a:hover,
  a:focus {
    @apply text-navbarfghover;
  }
}

.topbar__search input {
  @apply bg-white text-bodyfontcolor;
}

.topbar__search:not(:focus-within) button {
  @apply text-white bg-secondary;
}

.topbar__user__login a,
.topbar__dropmenu > ul > li > a,
.topbar__admin__link a,
.topbar__menu button {
  @apply text-white;

  &:hover {
    @apply text-white;
  }
}
