@import "variables";

.title-bar {
   background-color: $title-bar-bg;
}

.logo-wrapper {
   .custom-logos {
      padding-bottom: 0;
      img {
         max-height: unset;
         height: 3em;
      }
   }
}

.navbar {
   background-color: $navbar-bg;

   a,
   a:hover {
      color: var(--primary);
      font-weight: bold;
   }
}

.main-nav__link {
   a {
      color: $navbar-fg;
   }

   a:hover,
   a:focus {
      color: $navbar-fg-hover;
   }

   &--active a {
      box-shadow: inset 0 (-$border-width-big) 0 0 var(--primary);
   }
}

.topbar__search input {
   background-color: white;
   color: $body-font-color;
}

.topbar__search:not(:focus-within) button {
   background-color: var(--secondary);
   color: white;
}

.topbar__user__login a,
.topbar__dropmenu > ul > li > a,
.topbar__admin__link a,
.topbar__menu button {
   color: white;

   &:hover {
      color: white;
   }
}
