@import "variables";

.main-footer {
  background-color: $secondary;
}

.mini-footer {
  background-color: $primary;
}

.main-footer,
.mini-footer {
  a,
  a:hover {
    color: white;
  }
}

.mini-footer {
  padding-top: 2em;
  a,
  a:hover {
    text-decoration: none;
  }
}

.custom-logos {
  a img + .external-link-indicator {
    display: none;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding-bottom: 2em;

  img {
    height: 4em;
    width: auto;
  }

  @include small-screen {
    flex-direction: column;
  }

  @include mid-screen {
    img {
      height: 3em;
    }
  }
}
