@import "variables";

.main-footer {
  background-color: $bd-dark-blue;
}

.mini-footer {
  .row {
    padding-bottom: 2rem;

    .barcelonadema-logo {
      a {
        img {
          height: 7rem;
          margin-top: -3rem;
          margin-bottom: -4rem;
          max-height: unset;
        }
      }
    }
  }
}