@import "variables";

.logo-wrapper {
	a {
		img {
      height: 7rem;
      margin-top: -3rem;
      margin-bottom: -3rem;
      max-height: unset;
		}
	}
}

.title-bar{
	background-color: $bd-blue;
}

.navbar {
   background-color: $navbar-bg;

   a {
      color: $bd-blue;

      &:hover {
         color: $secondary;
      }
   }
}

.main-nav__link--active a {
   box-shadow: inset 0 -4px 0 0 var(--primary);
}