@import "decidim/variables";

$bd-light-green: #00D378;
$bd-light-green-rgb: 0,211,120;
$bd-dark-green: #00825A;
$bd-dark-green-rgb: 0,130,90;
$bd-blue: #5A36CE;
$bd-blue-rgb: 90,54,206;
$bd-pink: #FF7DBE;
$bd-pink-rgb: 255,125,190;
$bd-red: #FF3C5A;
$bd-red-rgb: 255,60,90;
$bd-light-blue: #46DCFF;
$bd-light-blue-rgb: 70,220,255;
$bd-yellow: #FFD232;
$bd-yellow-rgb: 255,210,50;
$bd-orange: #FF6732;
$bd-orange-rgb: 255,103,50;
$bd-brown: #A0695A;
$bd-brown-rgb: 160,105,90;
$bd-dark-blue: #00478D;
$bd-dark-blue-rgb: 0,71,141;

// Variables

$primary: $bd-blue !important;
$primary-rgb: $bd-blue-rgb !important;
$secondary: $bd-light-green !important;
$secondary-rgb: $bd-light-green-rgb !important;
$success: #90cf36 !default;
$success-rgb: 144,207,54 !default;
$warning: #fc9f5b !default;
$warning-rgb: 252,159,91 !default;
$alert: #d7263d !default;
$alert-rgb: 215,38,61 !default;

// Custom vars
$title-bar-bg: $bd-orange;
$link-color: $bd-dark-green;
$navbar-fg: $bd-light-green;
$navbar-fg-hover: $bd-light-green;
$navbar-bg: $bd-light-green;

:root{
  --primary: #{$primary};
  --primary-rgb: #{$primary-rgb};
  --secondary: #{$secondary};
  --secondary-rgb: #{$secondary-rgb};
  --success: #{$success};
  --success-rgb: #{$success-rgb};
  --warning: #{$warning};
  --warning-rgb: #{$warning-rgb};
  --alert: #{$alert};
  --alert-rgb: #{$alert-rgb};
}
