@import "decidim/variables";

$bd-light-green: #00d378;
$bd-light-green-rgb: 0, 211, 120;
$bd-dark-green: #00825a;
$bd-dark-green-rgb: 0, 130, 90;
$bd-blue: #5a36ce;
$bd-blue-rgb: 90, 54, 206;
$bd-pink: #ff7dbe;
$bd-pink-rgb: 255, 125, 190;
$bd-red: #ff3c5a;
$bd-red-rgb: 255, 60, 90;
$bd-light-blue: #46dcff;
$bd-light-blue-rgb: 70, 220, 255;
$bd-yellow: #ffd232;
$bd-yellow-rgb: 255, 210, 50;
$bd-orange: #ff6732;
$bd-orange-rgb: 255, 103, 50;
$bd-brown: #a0695a;
$bd-brown-rgb: 160, 105, 90;
$bd-dark-blue: #00478d;
$bd-dark-blue-rgb: 0, 71, 141;

// Variables

$primary: $bd-blue;
$primary-rgb: $bd-blue-rgb;
$secondary: $bd-light-green;
$secondary-rgb: $bd-light-green-rgb;
$success: $bd-light-green;
$success-rgb: $bd-light-green-rgb;
$warning: #fc9f5b;
$warning-rgb: 252, 159, 91;
$alert: #d7263d;
$alert-rgb: 215, 38, 61;

// Custom variables

$body-font-color: black;
$body-background-color: white;

$title-bar-bg: $bd-orange;
$link-color: $bd-dark-green;

$navbar-fg: white;
$navbar-fg-hover: white;
$navbar-bg: $bd-light-green;

$title-bar-bg: $bd-blue;

$bd-lighter-green: lighten($bd-light-green, 20%);

:root {
  --primary: #{$primary} !important;
  --primary-rgb: #{$primary-rgb} !important;
  --secondary: #{$secondary} !important;
  --secondary-rgb: #{$secondary-rgb} !important;
  --success: #{$success} default;
  --success-rgb: #{$success-rgb} default;
  --warning: #{$warning} default;
  --warning-rgb: #{$warning-rgb} default;
  --alert: #{$alert} default;
  --alert-rgb: #{$alert-rgb} default;
}

body,
.off-canvas-wrapper {
  background: $body-background-color;
}

.callout.primary {
  border-left: 8px solid $primary;
  background-color: saturate(lighten($primary, 25%), 0.2);
}

.callout.secondary {
  border-left: 8px solid $bd-light-blue;
  background-color: saturate(lighten($bd-light-blue, 25%), 0.2);
}

.callout.success {
  border-left: 8px solid $success;
  background-color: saturate(lighten($success, 25%), 0.2);
}

.callout.warning {
  border-left: 8px solid $warning;
  background-color: saturate(lighten($warning, 25%), 0.2);
}

.callout.alert {
  border-left: 8px solid $alert;
  background-color: saturate(lighten($alert, 25%), 0.2);
}

.process-stats__data::after {
  border-left-color: var(--secondary);
  height: 2rem;
  position: absolute;
  left: 0;
  top: calc(50% - 1rem);
}

@mixin small-screen {
  @media print, screen and (max-width: 40em) {
    @content;
  }
}

@mixin mid-screen {
  @media print, screen and (min-width: 40em) and (max-width: 63em) {
    @content;
  }
}

@mixin big-screen {
  @media print, screen and (min-width: 64em) {
    @content;
  }
}
